<div class="container" *ngIf="!isLoginPage">
  <p-toolbar
    [style]="{
      'background-color': 'white',
      border: 'none',
      'margin-bottom': '0'
    }"
  >
    <div class="p-toolbar-group-start">
      <img src="../../../../assets/Vector.svg" alt="" [routerLink]="['home']" />
    </div>
    <div class="p-toolbar-group-end" style="margin-bottom: -20px">
      <div
        class="col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
        "
      >
        <i
          class="pi pi-calendar mr-4 p-text-secondary"
          pBadge
          style="font-size: 1rem"
          [value]="tasks.toString()"
          severity="danger"
        ></i>
      </div>
      <div
        class="col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        "
      >
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="mr-2"
          size="large"
          shape="circle"
          (click)="logout()"
        ></p-avatar>
        <p>{{ email }}</p>
      </div>
    </div>
  </p-toolbar>
  <div style="width: 100%; height: 100%; border: 1px #5230ff solid"></div>
</div>

<router-outlet></router-outlet>
